<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- 日志路径 -->
	<property name="LOG_PATH" value="./logs"/>

	<!-- 日志文件名称 -->
	<property name="LOG_FILE" value="${LOG_PATH}/ngoxdb.log" />
	<property name="LOG_FILE_ERROR" value="${LOG_PATH}/ngoxdb-error.log" />

	<!-- 日志文件允许记录的最大容量，默认为：10MB -->
	<property name="LOG_FILE_MAX_SIZE" value="10MB" />

	<!-- 日志文件的最长保存时间 -->
	<property name="LOG_FILE_MAX_HISTORY" value="180" />

	<!-- 设置CONSOLE的日志输出格式 -->
	<property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} [%clr(%16.16M{15}){cyan}] %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
<!--	<property name="CONSOLE_LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %method - %msg%n" />-->

	<!-- 设置日志文件的日志输出格式 -->
<!--	<property name="FILE_LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %method - %msg%n" />-->
	<property name="FILE_LOG_PATTERN" value="${FILE_LOG_PATTERN:-%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%t] %logger.%M : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>

	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<springProfile name="dev,test,debug">
		<root level="INFO">
		    <!-- 开启控制台输出 -->
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>

	<springProfile name="prod">

		<root level="INFO">
			<appender-ref ref="CONSOLE" />
			<appender-ref ref="FILE" />
			<appender-ref ref="FILE_ERROR" />
		</root>
	</springProfile>

</configuration>