<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liaobaikai.ngoxdb.dao.slave.SlaveMySQLMapper">

    <!-- 删除表 -->
    <update id="dropTable">
        drop table IF EXISTS ${table.tableName}
    </update>

    <!-- 创建表 -->
    <update id="createTable" parameterType="com.liaobaikai.ngoxdb.info.TableInfo">
        create table IF NOT EXISTS `${table.tableName}`
        (
        <!-- 列 -->
        <foreach collection="table.tableColumnInfoList" item="columnInfo" separator="," >
            <!-- column_name data_type [NOT NULL | NULL] [DEFAULT default_value] [AUTO_INCREMENT]
                [UNIQUE [KEY]] [[PRIMARY] KEY] [COMMENT 'string'] [COLLATE collation_name]-->
            `${columnInfo.columnName}` ${columnInfo.columnType}
            <if test="columnInfo.isNotNull">NOT NULL</if>
            <if test="columnInfo.columnComment != null and columnInfo.columnComment != ''">COMMENT '${columnInfo.columnComment}'</if>
            <if test="columnInfo.collationName != null and columnInfo.collationName != table.defaultCollate">CHARACTER SET ${columnInfo.charsetName} COLLATE ${columnInfo.collationName}</if>
            <if test="columnInfo.defaultValue != null">DEFAULT ${columnInfo.defaultValue}</if>
            <if test="columnInfo.extra != null and columnInfo.extra != ''">${columnInfo.extra}</if>
            <if test="columnInfo.checkClause != null and columnInfo.checkClause != ''">CHECK (${columnInfo.checkClause})</if>
        </foreach>
        <!-- 索引、约束 -->
        <foreach collection="table.tableIndexInfoMap" index="key" item="indexInfoList" separator="," open=",">
            <if test="indexInfoList != null and indexInfoList.size > 0">
                <if test="indexInfoList[0].isClusteredIndex">
                    PRIMARY KEY
                    <foreach collection="indexInfoList" item="indexInfo" separator="," open="(" close=")">
                        `${indexInfo.columnName}`
                    </foreach>
                </if>
            </if>
        </foreach>
<!--        <foreach collection="table.tableIndexInfoMap" index="key" item="indexInfoList" separator="," open=",">-->
<!--            <if test="indexInfoList != null and indexInfoList.size > 0">-->
<!--                <choose>-->
<!--                    <when test="indexInfoList[0].isAutoGenClusteredIndex">-->
<!--                        &lt;!&ndash;忽略&ndash;&gt;-->
<!--                    </when>-->
<!--                    <when test="indexInfoList[0].isClusteredIndex">-->
<!--                        PRIMARY KEY-->
<!--                    </when>-->
<!--                    <when test="indexInfoList[0].isUniqueNonClusteredIndex">-->
<!--                        UNIQUE KEY `${key}`-->
<!--                    </when>-->
<!--                    <when test="indexInfoList[0].isNonUniqueSecondaryIndex or indexInfoList[0].isVirtualColumnSecondaryIndex">-->
<!--                        KEY `${key}`-->
<!--                    </when>-->
<!--                    <when test="indexInfoList[0].isFullTextIndex">-->
<!--                        &lt;!&ndash;全文索引&ndash;&gt;-->
<!--                        KEY `${key}`-->
<!--                    </when>-->
<!--                    <when test="indexInfoList[0].isSpatialIndex">-->
<!--                        &lt;!&ndash; 空间索引 &ndash;&gt;-->
<!--                        KEY `${key}`-->
<!--                    </when>-->
<!--                </choose>-->
<!--                <foreach collection="indexInfoList" item="indexInfo" separator="," open="(" close=")">-->
<!--                    `${indexInfo.columnName}`-->
<!--                </foreach>-->
<!--            </if>-->
<!--        </foreach>-->
<!--        <foreach collection="table.tableForeignKeyInfoList" item="foreignKeyInfo" separator="," open=",">-->
<!--            CONSTRAINT `${foreignKeyInfo.name}` FOREIGN KEY (`${foreignKeyInfo.columnName}`) REFERENCES `${foreignKeyInfo.referenceTableName}` (`${foreignKeyInfo.referenceColumnName}`)-->
<!--            <if test="foreignKeyInfo.type != null and foreignKeyInfo.type != 0">-->
<!--                ${foreignKeyInfo.flags}-->
<!--            </if>-->
<!--        </foreach>-->
        )
        <if test="table.engine != null and table.engine != ''">ENGINE=${table.engine}</if>
        <if test="table.currentIncrementValue != null and table.currentIncrementValue != ''">AUTO_INCREMENT=${table.currentIncrementValue}</if>
        <if test="table.defaultCharset != table.schemaDefaultCharset">DEFAULT CHARSET=${table.defaultCharset}</if>
        <if test="table.defaultCollation != table.schemaDefaultCollation">DEFAULT COLLATE=${table.defaultCollation}</if>
        <if test="table.tableComment != null and table.tableComment != ''">COMMENT='${table.tableComment}'</if>
    </update>

    <!-- 查询是否存在 -->
    <select id="countTable" resultType="int">
        select count(0) from information_schema.TABLES t where t.TABLE_SCHEMA = #{schemaName} and t.TABLE_NAME = #{tableName}
    </select>

</mapper>