<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liaobaikai.ngoxdb.core.dao.common.SlaveMetadataMapper">

    <!-- 创建Ngox_master表，主要用于保存需要创建的索引，外键等信息 -->
    <update id="createTable">
        create table ngoxdb_slave_metadata
        (
            table_schema varchar(128) not null,
            table_name varchar(128) not null,
            flags varchar(32) not null,
            statement text not null,
            apply int not null
        )
    </update>

    <!-- 插入行 -->
    <insert id="insertRow" parameterType="com.liaobaikai.ngoxdb.core.entity.SlaveMetaDataEntity">
        insert into ngoxdb_slave_metadata (table_schema, table_name, flags, statement, apply) values (#{tableSchema}, #{tableName}, #{flags}, #{statement}, 1)
    </insert>

    <!-- 删除行 -->
    <delete id="deleteRow">
        delete from ngoxdb_slave_metadata where table_schema = #{schemaName} and table_name = #{tableName}
    </delete>

</mapper>